* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "Roboto";
  color: #444;

  margin: 0px auto;
}

td {
  text-align: center;
  vertical-align: middle;
}

tr {
  cursor: pointer;
}
